<form [formGroup]="taskForm">
  <mat-form-field class="task" appearance="outline">
    <input matInput placeholder="Add new list item" formControlName="task" />
    <mat-error class="error-message" *ngIf="taskForm.controls['task'].errors?.['required']">
      Task is required
    </mat-error>
    <mat-error class="error-message" *ngIf="taskForm.controls['task'].errors?.['minlength']">
      Task must be at least 3 characters long
    </mat-error>
    <button class="btn__add" mat-raised-button matSuffix color="primary" (click)="addTask()">Add</button>
  </mat-form-field>
</form>
