<mat-card class="login">
  <div class="login__wrapper">
    <mat-card-title class="login__title">Login</mat-card-title>
    <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="login__form-field" appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput type="login" formControlName="login" (input)="clearError()">
        <mat-error class='error__message' *ngIf="login?.hasError('required')">
          Login is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login__form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (input)="clearError()">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error class='error__message' *ngIf="password?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
      <mat-error *ngIf="loginForm.errors?.['invalidUser']" class="error__invalidUser">
        Invalid login or password.
      </mat-error>
    </form>
</div>
</mat-card>
